<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comm.dao.barcode.BarcodeMapper">
    <update id="updateBarcodeByWeight">
        UPDATE barcode SET b_weight=#{b_weight} WHERE b_barcode=#{b_barcode} AND o_id=#{o_id}
    </update>

    <select id="getBarcodeByBarcode" resultType="com.example.comm.pojo.barcode.Barcode">
        select * from barcode
        <trim prefix="where" prefixOverrides="AND |OR">
            <if test="o_id != null and o_id != ''">
                and o_id = #{o_id}
            </if>
            <if test="b_barcode != null and b_barcode != ''">
                and b_barcode = #{b_barcode}
            </if>
        </trim>
    </select>
    <select id="getBarcodeByOidByBarcode" resultType="com.example.comm.pojo.barcode.Barcode">
        SELECT * FROM barcode WHERE b_barcode = #{b_barcode} AND o_id=#{o_id}
    </select>
</mapper>
