<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comm.dao.Orders.OrdersMapper">
    <select id="getOrdersByCid" resultType="com.example.comm.pojo.orders.Orders">
        SELECT * FROM orders WHERE c_id=#{c_id} AND o_complete=0 AND IFNULL(o_port,'')=''
    </select>

    <update id="updateOrdersByOidPort">
        UPDATE orders SET o_port=#{o_port} WHERE o_orderid=#{o_orderid}
    </update>
    <update id="updateOrdersByOid">
        UPDATE orders SET o_complete=1 WHERE o_orderid=#{o_orderid}
    </update>

    <select id="getOrders" resultType="com.example.comm.pojo.orders.Orders">
        SELECT * FROM orders WHERE o_complete=0 AND ISNULL(o_port) OR  o_port =''
    </select>

    <select id="getOrdersByOid" resultType="com.example.comm.pojo.orders.Orders">
        select * from orders where o_orderid = #{o_orderid}
    </select>
    <select id="getOrdersByCids" resultType="java.lang.Integer">
        SELECT count(1) FROM orders WHERE c_id=#{c_id} AND o_complete=0
    </select>

    <resultMap type="com.example.comm.pojo.orders.Orders" id="ordersBY">
        <id property="id" column="id" />
        <result property="o_orderid" column="o_orderid" />
        <result property="o_port" column="o_port" />
        <result property="c_id" column="c_id" />
        <collection property="customer" ofType="com.example.comm.pojo.customer.Customer">
            <id property="c_id" column="c_ids" />
            <result property="customer_name" column="customer_name" />
        </collection>
    </resultMap>
    <select id="getOrdersByCustomer" resultMap="ordersBY">
        SELECT * FROM orders o INNER JOIN customer c ON c.c_id=o.c_id WHERE IFNULL(o.o_port,'')!='' ORDER BY o.c_id
    </select>
    <select id="getOrdersByOrderId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM orders WHERE c_id=(SELECT c_id FROM orders WHERE o_orderid=#{o_orderid})
        <if test="o_complete!=null and o_complete!=''">AND o_complete=1</if>
    </select>
    <select id="getOrdersByOids" resultType="com.example.comm.pojo.orders.Orders">
        select * from orders where o_orderid = #{o_orderid} AND IFNULL(o_port,'')!=''
    </select>
    <select id="getOrdersList" resultType="com.example.comm.pojo.orders.Orders">
        select * from orders
        <trim prefix="where" prefixOverrides="AND |OR">
            <if test="c_id != null and c_id != ''">
                and c_id = #{c_id}
            </if>
            <if test="o_orderid != null and o_orderid != ''">
                and o_orderid = #{o_orderid}
            </if>
        </trim>
    </select>


</mapper>
