<html>
<head>
    <title>WebSocket通讯</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        url = "ws://localhost:8381/message"; // 通讯地址
        window.onload = function () {	// 进行加载时间处理
            webSocket = new WebSocket(url); // 创建WebSocket对象
            webSocket.onopen = function () {
                //alert("服务器连接成功，请进行消息的处理。");
                // document.getElementById("contentDiv").innerHTML += "<p>服务器连接成功，请进行消息的处理。</p>";
            }
            webSocket.onclose = function () {
                alert("已经和服务器断开连接。");
                // document.getElementById("contentDiv").innerHTML += "<p>已经和服务器断开连接。</p>";
            }

            $(document).ready(function () {

                if (location.href.indexOf("#reloaded") == -1) {
                    location.href = location.href + "#reloaded";
                    // location.reload();
                }
            })

            $.post("/sorting/getCursors", {}, function (data) {
                var str = "";
                //alert("最外层!")
                for (var i = 0; i < data.length; i++) {
                    var complete = "";
                    $.ajaxSettings.async = false;
                    var sum;
                    var sums;
                    $.post("/sorting/getOrdersByOrderId", {
                        orderids: data[i].c_order,
                        complete: complete
                    }, function (data1) {
                        sum = data1;
                    }, "json");
                    $.post("/sorting/getOrdersByOrderId", {orderids: data[i].c_order, complete: 1}, function (data2) {
                        sums = data2;
                    }, "json");
                    var state;
                    $.post("/sorting/getA_state", {}, function (states) {
                        state = states;
                    }, "json")
                    $.ajaxSettings.async = true;
                    var css;
                    if (sum == sums) {
                        css = "background-color:#faf24a";
                    }
                    str += "<tr style='" + css + ";text-align: center'><td id=" + data[i].c_customername + ">" + data[i].c_customername + "</td><td id=" + +data[i].c_order + ">" + data[i].c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td>" + data[i].c_barcode + "</td><td>" + data[i].c_out + "</td><td>" + data[i].c_count + "</td><td>" + data[i].c_specification + "</td><td>" + data[i].c_Item_info + "</td><td>" + data[i].c_weight + "</td><td class='text-align:center;'>" + data[i].c_time + "</td><td>" + data[i].c_number + "</td></tr>";
                    css = "";
                }
                $("#tbody").append(str);
                $("body [id]").each(function () {
                    var ids = $(this).attr("id");
                    if ($("body [id=" + ids + "]").length >= 2) {
                        if (Number(state) == 1) {
                            $("#" + ids + ":not(:first)").parent().hide();
                        }
                        //alert("id为"+ids+" 的重复了。");
                    }
                });
            }, "json")


            $("#msg").focus(function () {
                this.select();
            });
            $("#myTable").hide();


            $("#sendBut").click(function () {
                $.post("/sorting/getA_state", {}, function (state) {
                    if (Number(state) > 0) {
                        alert("已进行分配!");
                        $("#sendBut").attr("disabled", true);
                    } else {
                        var sex = $("input[name='sex']:checked").val();
                        $("#sendBut").attr("disabled", true);
                        alert(sex);
                        webSocket.send(sex);
                    }
                }, "json")
            })


            webSocket.onmessage = function (obj) {	// 进行消息回应
                $("#msg").val("").focus();
                var str = "";
                if (obj.data == "state") {
                    alert("未选择分配状态");
                } else if (obj.data == "ng") {
                    $.post("/sorting/ng", {ng: obj.data}, function (data) {
                        str = "<tr><td COLSPAN='10'>NG</td></tr><tr><td id=" + data.n_barcode + ">条形码:" + data.n_barcode + "</td><td>时间:" + data.n_date + "</td><td>数量:" + data.n_number + "</td></tr>";
                        $("#tbody_ng").html(str);
                    }, "json")
                } else if (obj.data == "ununited") {
                    alert("机器未连接客户端!")
                } else {
                    var complete = "";
                    //alert("订单号:" + obj.data);
                    $.ajaxSettings.async = false;
                    var sum;
                    var sums;
                    $.post("/sorting/getOrdersByOrderId", {orderids: obj.data, complete: complete}, function (data1) {
                        sum = data1;
                    }, "json");
                    $.post("/sorting/getOrdersByOrderId", {orderids: obj.data, complete: 1}, function (data2) {
                        sums = data2;
                    }, "json");
                    var state;
                    $.post("/sorting/getA_state", {}, function (states) {
                        state = states;
                    }, "json")
                    //alert("state:" + state);
                    $.ajaxSettings.async = true;
                    $.post("/sorting/data", {order: obj.data}, function (data) {
                        //订单号
                        var c_order = $("#" + data.c_order).text();
                        var c_customername = $("#" + data.c_customername).html();
                        var count = data.c_count;
                        var number = data.c_number;
                        //alert("获取到的订单号:"+c_order);
                        //alert("传值的订单号:"+order);
                        //订单显示
                        if (Number(state) == 2) {
                            //alert("订单分拣");
                            if (count == number) {
                                $("#" + obj.data).parent().css("background-color", "#faf24a");
                            }
                            if (Number(c_order) == Number(obj.data)) {
                                //alert("已有这行数据");
                                str = "<td >" + data.c_customername + "</td><td id=" + data.c_order + "> " + data.c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td>" + data.c_out + "</td><td>" + data.c_count + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_weight + "</td><td class='text-align:center;'>" + data.c_time + "</td><td>" + data.c_number + "</td>";
                                $("#" + obj.data).parent().html(str);
                            } else {
                                str += "<tr style='text-align: center'><td>" + data.c_customername + "</td><td id=" + data.c_order + ">" + data.c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td>" + data.c_out + "</td><td>" + data.c_count + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_weight + "</td><td class='text-align:center;'>" + data.c_time + "</td><td>" + data.c_number + "</td></tr>";
                                $("#tbody").append(str);
                            }
                        }
                        //客户显示
                        if (Number(state) == 1) {
                            alert("进入客户");
                            alert("ID1:" + c_customername);
                            alert("ID2:" + data.c_customername);
                            if (c_customername == data.c_customername) {
                                if (Number(sums) == Number(sum)) {
                                    $("#" + data.c_customername).parent().css("background-color", "#faf24a");
                                }
                                alert("已有这行数据");
                                //alert("订单号:"+data.c_order)
                                str = "<td id=" + data.c_customername + ">" + data.c_customername + "</td><td id=" + data.c_order + "> " + data.c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td>" + data.c_out + "</td><td>" + data.c_count + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_weight + "</td><td class='text-align:center;'>" + data.c_time + "</td><td>" + data.c_number + "</td>";
                                $("#" + data.c_customername).parent().html(str);
                            } else {
                                str += "<tr style='text-align: center'><td id=" + data.c_customername + ">" + data.c_customername + "</td><td id=" + data.c_order + ">" + data.c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td>" + data.c_out + "</td><td>" + data.c_count + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_weight + "</td><td class='text-align:center;'>" + data.c_time + "</td><td>" + data.c_number + "</td></tr>";
                                $("#tbody").append(str);
                            }
                        }

                    }, "json")
                }

            }

            var code = "";
            var lastTime, nextTime;
            var lastCode, nextCode;

            document.onkeypress = function (e) {
                nextCode = e.which;
                nextTime = new Date().getTime();

                if (lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                    code += String.fromCharCode(lastCode);
                } else if (lastCode != null && lastTime != null && nextTime - lastTime > 100) {
                    code = "";
                }

                lastCode = nextCode;
                lastTime = nextTime;
            }

            this.onkeypress = function (e) {
                if (e.which == 13) {
                    webSocket.send(code); // 发送请求
                    console.log(code);
                    code = "";
                }
            }


        }
    </script>
    <style>
        .jz {
            text-align: center;
        }
    </style>
</head>
<body ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false"
      onselectstart="event.returnValue=false">
<!--按纽作为addon-->
<div>
    <input type="hidden" name="msg" id="msg" class="form-control" placeholder="请输入条形码信息">
</div>
<div style="text-align: center;padding-top: 20px;">
    <h2>分拣系统</h2>
</div>
<div class="body-section" style="margin-top: 40px">
    <section class="row">
        <div class="col-md-2" style="margin-left: 40px">
        </div>
        <div class="col-md-8">
            <table class="table text-center table-hover data">
                <tr class="jz">
                    <th class="jz">客户名称</th>
                    <th class="jz">订单号</th>
                    <th class="jz">订单数</th>
                    <th class="jz">订单已分拣数</th>
                    <th class="jz">条码</th>
                    <th class="jz">OUT</th>
                    <th class="jz">物品总数量</th>
                    <th class="jz">规格</th>
                    <th class="jz">描述</th>
                    <th class="jz">重量</th>
                    <th class="jz">日期</th>
                    <th class="jz">已分拣物品数量</th>
                </tr>
                <tbody id="tbody">
                </tbody>
            </table>
            <table class="table text-center table-hover data jz" style="margin-top:200px;">
                <tbody id="tbody_ng" class="jz">
                </tbody>
            </table>
        </div>
        <div class="col-md-2" style="margin-left: 1700px;margin-top: 600px;position: fixed">
            <form action="">
                <input type="radio" name="sex" value="customer" checked>客户
                <input style="margin-left: 10px" type="radio" name="sex" value="barcode">订单
                <button style="margin-left: 10px" class="btn btn-primary" type="button" id="sendBut">自动分配</button>
            </form>
        </div>
    </section>
</div>
</body>
</html>