<html>
<head>
    <title>WebSocket通讯</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        url = "ws://localhost:8381/message"; // 通讯地址
        window.onload = function () {	// 进行加载时间处理
            webSocket = new WebSocket(url); // 创建WebSocket对象
            webSocket.onopen = function () {
                //alert("服务器连接成功，请进行消息的处理。");
                // document.getElementById("contentDiv").innerHTML += "<p>服务器连接成功，请进行消息的处理。</p>";
            }
            webSocket.onclose = function () {
                alert("已经和服务器断开连接。");
                // document.getElementById("contentDiv").innerHTML += "<p>已经和服务器断开连接。</p>";
            }

            $("#msg").focus(function () {
                this.select();
            });
            $("#myTable").hide();
            $("button").click(function () {
                var sex = $("input[name='sex']:checked").val();
                $("button").attr("disabled", true);
                webSocket.send(sex);
                alert("执行下面代码:");
                $.post("/sorting/getOrdersByCustomer", {}, function (data) {
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        str += "<tr style='text-align: center'><td>" +data[i].customer.customer_name +"</td><td>" + data[i].o_orderid + "</td><td>" + data[i].o_port + "</td></tr>";
                    }
                    $("#myTable").show();
                    $("#tbody_orders").html(str);
                }, "json")
            })

            webSocket.onmessage = function (obj) {	// 进行消息回应
                $("#msg").val("").focus();
                var str = "";
                if (obj.data == "ng") {
                    $.post("/sorting/ng", {ng: obj.data}, function (data) {
                        str = "<tr><td COLSPAN='10'>NG</td></tr><tr><td id=" + data.n_barcode + ">条形码:" + data.n_barcode + "</td><td>时间:" + data.n_date + "</td><td>数量:" + data.n_number + "</td></tr>";
                        $("#tbody_ng").html(str);
                    }, "json")
                } else {
                    $.post("/sorting/data", {order: obj.data}, function (data) {
                        //订单号
                        var c_order = $("#" + data.c_order).text();
                        var count = data.c_count;
                        var number = data.c_number;
                        if (count <= number) {
                            $("#" + obj.data).parent().css("background-color", "#faf24a");
                        }
                        if (count == 1) {
                            var css = ("background-color:#faf24a");
                        }
                        //alert("获取到的订单号:"+c_order);
                        //alert("传值的订单号:"+order);
                        if (Number(c_order) == Number(obj.data)) {
                            // alert("已有这行数据");
                            str = "<td id=" + data.c_order + "> " + data.c_order + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td>" + data.c_out + "</td><td>" + data.c_count + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td class='text-align:center;'>" + data.c_time + "</td><td>" + data.c_customername + "</td><td>" + data.c_number + "</td>";
                            $("#" + obj.data).parent().html(str);
                        } else {
                            str += "<tr style='" + css + ";text-align: center'><td id=" + data.c_order + ">" + data.c_order + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td>" + data.c_out + "</td><td>" + data.c_count + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td class='text-align:center;'>" + data.c_time + "</td><td>" + data.c_customername + "</td><td>" + data.c_number + "</td></tr>";
                            $("#tbody").append(str);
                        }
                    }, "json")
                }

            }


            var code = "";
            var lastTime, nextTime;
            var lastCode, nextCode;

            document.onkeypress = function (e) {
                nextCode = e.which;
                nextTime = new Date().getTime();

                if (lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                    code += String.fromCharCode(lastCode);
                } else if (lastCode != null && lastTime != null && nextTime - lastTime > 100) {
                    code = "";
                }

                lastCode = nextCode;
                lastTime = nextTime;
            }

            this.onkeypress = function (e) {
                if (e.which == 13) {
                    webSocket.send(code); // 发送请求
                    console.log(code);
                    code = "";
                }
            }
        }
    </script>
    <style>
    </style>
</head>
<body ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false"
      onselectstart="event.returnValue=false">
<!--按纽作为addon-->
<div class="input-group" style="width: 20%;text-align: center;margin:20px auto">
    <input type="hidden" name="msg" id="msg" class="form-control" placeholder="请输入条形码信息">
    <!-- <span class="input-group-btn ">
                 <button class="btn btn-primary" type="button" id="sendBut">查询</button>
     </span>-->
</div>
<div style="text-align: center;padding-top: 20px;">
    <form action="">
        <input type="radio" name="sex" value="customer" checked>客户
        <input style="margin-left: 10px" type="radio" name="sex" value="barcode">订单
        <button style="margin-left: 10px" class="btn btn-primary" type="submit" id="sendBut">自动分配</button>
    </form>
</div>
<div class="body-section" style="margin-top: 40px">
    <section class="row">
        <div class="col-md-2" style="margin-left: 40px">
            <table width="250" cellspacing="0" cellpadding="0" align="center" border="1" id="myTable">
                <tr style="text-align: center">
                    <td>客户名称</td>
                    <td>订单号</td>
                    <td>端口号</td>
                </tr>
                <tbody id="tbody_orders" style="">
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <table class="table text-center table-hover data">
                <tr>
                    <th class="center">订单号</th>
                    <th class="center">条码</th>
                    <th class="center">OUT</th>
                    <th class="center">数量</th>
                    <th class="center">规格</th>
                    <th class="center">描述</th>
                    <th style="text-align:center">日期</th>
                    <th class="center">客户名称</th>
                    <th class="center">已分拣数量</th>
                </tr>
                <tbody id="tbody">
                </tbody>
            </table>
            <table class="table text-center table-hover data" style="margin-top:200px;">
                <tbody id="tbody_ng" style="">
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </section>
</div>
<span></span>
　<!--<input type="barcode" name="barcode"  />-->
</body>
</html>