<html>
<head>
    <title>WebSocket通讯</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        url = "ws://localhost:8381/message"; // 通讯地址
        window.onload = function () {	// 进行加载时间处理
            webSocket = new WebSocket(url); // 创建WebSocket对象
            webSocket.onopen = function () {
                //alert("服务器连接成功，请进行消息的处理。");
                // document.getElementById("contentDiv").innerHTML += "<p>服务器连接成功，请进行消息的处理。</p>";
            }
            webSocket.onclose = function () {
                alert("已经和服务器断开连接。");
                // document.getElementById("contentDiv").innerHTML += "<p>已经和服务器断开连接。</p>";
            }

            $(document).ready(function () {
                if (location.href.indexOf("#reloaded") == -1) {
                    location.href = location.href + "#reloaded";
                    // location.reload();
                }
            })

            //判断分拣信息是否要加滚动条
            function tablewrap() {
                if ($("#tableWarp").parent().is("#overflowTest")) {
                       //alert("已存在滚动条!");
                } else {
                    var theight = $("#tableWarp").height();
                    if (theight > 300) {
                        $("#tableWarp").wrap("<div id='overflowTest'></div>");
                    }
                }
            }

            //返回分配状态
            function state() {
                $.ajaxSettings.async = false;
                var state;
                $.post("/sorting/getA_state", {}, function (states) {
                    state = states;
                }, "json")
                $.ajaxSettings.async = true;
                return state;
            }

            var state = state();

            //显示分拣信息
            $.post("/sorting/getCursors", {}, function (data) {
               // alert("6666");
                var strs = "<tr class='jz'><th class='jz'>客户名称</th><th class='jz'>线路</th><th class='jz'>订单号</th><th class='jz'>订单数</th><th class='jz' id='sums'>订单已分拣数</th><th class='jz'>条码</th> <th class='jz'>OUT</th> <th class='jz'>规格</th> <th class='jz'>描述</th> <th class='jz'>物品总数量</th> <th class='jz'>已分拣物品数量</th> <th class='jz' style=''>重量</th><th class='jz'>日期</th> </tr>";
                $("#tbodys").html(strs);
                var str = "";
                //alert("最外层!")
                for (var i = 0; i < data.length; i++) {
                    var complete = "";
                    $.ajaxSettings.async = false;
                    var sum;
                    var sums;
                    $.post("/sorting/getOrdersByOrderId", {
                        orderids: data[i].c_order,
                        complete: complete
                    }, function (data1) {
                        sum = data1;
                    }, "json");
                    $.post("/sorting/getOrdersByOrderId", {orderids: data[i].c_order, complete: 1}, function (data2) {
                        sums = data2;
                    }, "json");
                    $.ajaxSettings.async = true;
                    var css;
                    if (Number(state) == 1) {
                        if (sum == sums) {
                            css = "background-color:#faf24a";
                        }
                    }
                    if (Number(state) == 2) {
                        if (data[i].c_number == data[i].c_count) {
                            css = "background-color:#faf24a";
                        }
                        var dis = "display:none";
                        $("#sums").hide();
                    }
                    var c_out = "a" + (data[i].c_out).substring(1, 3);
                    str += "<tr style='" + css + ";text-align: center'><td id=" + data[i].c_customername + " class='customername'>" + data[i].c_customername + "</td><td>一号线</td><td id=" + +data[i].c_order + ">" + data[i].c_order + "</td><td>" + sum + "</td><td id='sums' style='" + dis + "'>" + sums + "</td><td>" + data[i].c_barcode + "</td><td id=" + c_out + ">" + data[i].c_out + "</td><td>" + data[i].c_specification + "</td><td>" + data[i].c_Item_info + "</td><td >" + data[i].c_count + "</td><td>" + data[i].c_number + "</td><td>0kg</td><td class='text-align:center;'>" + data[i].c_time + "</td></tr>";

                    css = "";
                }
                $("#tbody").append(str);
                /* if (Number(state) == 1) {
                     $("body [class='customername']").each(function () {
                         var ids = $(this).attr("id");
                        // alert("ids:" + ids);
                        // alert($("body [class=" + ids + "]").length);
                         if ($("body [class=" + ids + "]").length >= 2) {
                             $("." + ids + ":not(:first)").parent().hide();
                         }
                     });
                 }*/

                if (Number(state) == 1) {
                    $("body [class='customername']").each(function () {
                        var ids = $(this).attr("id");
                        if ($("body [id=" + ids + "]").length >= 2) {
                            $("#" + ids + ":not(:first)").parent().hide();
                        }
                    });
                }

                if ($("#overflowTest").length < 1) {
                    tablewrap();
                }
            }, "json")

            //判断是否给Ng添加滚动条
            function ngwrap() {
                //alert("先执行获取长度1");
                var ngheight = $("#tbody_ng").height();
                //alert("ng的长度:" + ngheight);
                if (ngheight > 200) {
                    $("#ngWarp").wrap("<div id='overflowTestNg' style='margin-top: 150px'></div>");
                    // $("#ngWarp").removeClass(".ngClass");
                    $("#ngWarp").css("margin-top", "auto");
                }
            }

            //显示Ng的数据
            function ngList() {
                //alert("先执行代码");
                $("#tbody_ng").html("");
                $.post("/sorting/ng", function (data) {
                    var str = "<tr><td COLSPAN='10'>NG</td></tr><tr class='jz'><th class='jz'>客户名称</th><th class='jz'>线路</th><th class='jz'>订单号</th><th class='jz'>条码</th> <th class='jz'>OUT</th> <th class='jz'>规格</th> <th class='jz'>描述</th><th class='jz' style=''>重量</th><th class='jz'>日期</th> </tr>";
                    //var str = "<tr><td COLSPAN='10'>NG</td></tr><tr><td>条形码</td><td>时间</td><td>数量</td></tr>";
                    for (var i = 0; i < data.length; i++) {
                        //str += "<tr><td id=" + data[i].n_barcode + ">" + data[i].n_barcode + "</td><td>" + data[i].n_date + "</td><td>" + data[i].n_number + "</td></tr>";
                        str += "<tr text-align: center><td >" + data[i].n_name + "</td><td>一号线</td><td>" + data[i].n_oid + "</td><td>" + data[i].n_barcode + "</td><td>" + data[i].n_out + "</td><td>" + data[i].n_Specifications + "</td><td>" + data[i].n_Item_info + "</td><td >0kg</td><td>" + data[i].n_date + "</td></tr>";
                    }
                    // alert(data.length);
                    if (data.length == 0) {
                        $("#tbody_ng").html();
                    } else {
                        $("#tbody_ng").append(str);
                    }
                    if ($("#overflowTestNg").length < 1) {
                        ngwrap();
                    }
                }, "json")
            }

            ngList();


            $("#msg").focus(function () {
                this.select();
            });
            $("#myTable").hide();

            //判断是否分配
            $("#sendBut").click(function () {
                if (Number(state) > 0) {
                    alert("已进行分配!");
                    $("#sendBut").attr("disabled", true);
                } else {
                    var sex = $("input[name='sex']:checked").val();
                    $("#sendBut").attr("disabled", true);
                    alert("开始分拣!");
                    webSocket.send(sex);
                }
            })

            webSocket.onmessage = function (obj) {	// 进行消息回应
                console.log("接收到的信息:" + obj.data);
                $("#msg").val("").focus();
                var str = "";
                var idS = (obj.data).substring(0, 1);
                if (obj.data == "state") {
                    alert("未选择分配状态");
                } else if (obj.data == "ng") {
                    ngList();
                } else if (obj.data == "ununited") {
                    alert("机器未连接客户端!");
                    $("#sendBut").attr("disabled", false);
                } else if (idS == "&") {
                    //alert("返回值:" + idS);
                    var id = (obj.data).substring(1, 3);
                    var evalID = $(eval("a" + id)).text();
                    console.log("添加的字符:" + id);
                    if (evalID == obj.data) {
                        //alert("有此端口");
                        $(eval("a" + id)).parent().hide();
                        $.post("/sorting/updateCursorsBydisplayStatus", {c_out: evalID}, function (data) {
                            //alert("修改成功!")
                        }, "json");
                    }
                } else {
                    $("#formButton").hide();
                    var complete = "";
                    //alert("订单号:" + obj.data);
                    $.ajaxSettings.async = false;
                    var sum;
                    var sums;
                    $.post("/sorting/getOrdersByOrderId", {orderids: obj.data, complete: complete}, function (data1) {
                        sum = data1;
                    }, "json");
                    $.post("/sorting/getOrdersByOrderId", {orderids: obj.data, complete: 1}, function (data2) {
                        sums = data2;
                    }, "json");
                    $.ajaxSettings.async = true;
                    $.post("/sorting/data", {order: obj.data}, function (data) {
                        //订单号
                        var c_order = $("#" + data.c_order).text();
                        var c_customername = $("#" + data.c_customername).html();
                        var count = data.c_count;
                        var number = data.c_number;

                        //返回分配状态
                        function states() {
                            $.ajaxSettings.async = false;
                            var state;
                            $.post("/sorting/getA_state", {}, function (states) {
                                state = states;
                            }, "json")
                            $.ajaxSettings.async = true;
                            return state;
                        }
                        //OUT赋值
                        var c_out = "a" + (data.c_out).substring(1, 3);
                        var states = states();
                        //订单显示
                        if (Number(states) == 2) {
                            //alert("订单分拣");
                            $("#sums").hide();
                            var dis = "display:none";
                            if (count == number) {
                                $("#" + obj.data).parent().css("background-color", "#faf24a");
                            }
                            if (Number(data.c_count) == 1) {
                                var yellow = "background-color: yellow";
                            }
                            if (Number(c_order) == Number(obj.data)) {
                                //alert("已有这行数据");
                                str = "<td >" + data.c_customername + "</td><td>一号线</td><td id=" + data.c_order + "> " + data.c_order + "</td><td>" + sum + "</td><td style='" + dis + "'>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td id=" + c_out + ">" + data.c_out + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_count + "</td><td>" + data.c_number + "</td><td >0kg</td><td class='text-align:center;'>" + data.c_time + "</td>";
                                $("#" + obj.data).parent().html(str);
                                var e = $("#" + obj.data).parent();
                                var index = e.index();
                                if (index > 0) {
                                    for (var i = 0; i < index; i++) {
                                        e.prev().insertAfter(e);
                                    }
                                }
                            } else {
                                str += "<tr style='" + yellow + "'><td>" + data.c_customername + "</td><td>一号线</td><td id=" + data.c_order + ">" + data.c_order + "</td><td>" + sum + "</td><td style='" + dis + "'>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td id=" + c_out + ">" + data.c_out + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_count + "</td><td>" + data.c_number + "</td><td >0kg</td><td class='text-align:center;'>" + data.c_time + "</td></tr>";
                                $("#tbody").prepend(str);
                            }
                        }
                        //客户显示
                        if (Number(states) == 1) {
                            //alert("进入客户");
                            if (c_customername == data.c_customername) {
                                if (Number(sums) == Number(sum)) {
                                    $("#" + data.c_customername).parent().css("background-color", "#faf24a");
                                }
                                str = "<td id=" + data.c_customername + ">" + data.c_customername + "</td><td>一号线</td><td id=" + data.c_order + "> " + data.c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td id=" + c_out + ">" + data.c_out + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_count + "</td><td>" + data.c_number + "</td><td>0kg</td><td class='text-align:center;'>" + data.c_time + "</td>";
                                $("#" + data.c_customername).parent().html(str);

                                var e = $("#" + data.c_customername).parent();
                                var index = e.index();
                                if (index > 0) {
                                    for (var i = 0; i < index; i++) {
                                        e.prev().insertAfter(e);
                                    }
                                }
                                tablewrap();
                            } else {
                                str += "<tr style='text-align: center'><td id=" + data.c_customername + ">" + data.c_customername + "</td><td>一号线</td><td id=" + data.c_order + ">" + data.c_order + "</td><td>" + sum + "</td><td>" + sums + "</td><td id=" + data.c_barcode + ">" + data.c_barcode + "</td><td id=" + c_out + ">" + data.c_out + "</td><td>" + data.c_specification + "</td><td>" + data.c_Item_info + "</td><td>" + data.c_count + "</td><td>" + data.c_number + "</td><td>0kg</td><td class='text-align:center;'>" + data.c_time + "</td></tr>";
                                $("#tbody").prepend(str);
                                var cur_li = $("#" + data.c_customername).parent();
                                tablewrap();
                            }
                        }

                    }, "json")
                }

            }

            var code = "";
            var lastTime, nextTime;
            var lastCode, nextCode;

            document.onkeypress = function (e) {
                nextCode = e.which;
                nextTime = new Date().getTime();

                if (lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                    code += String.fromCharCode(lastCode);
                } else if (lastCode != null && lastTime != null && nextTime - lastTime > 100) {
                    code = "";
                }

                lastCode = nextCode;
                lastTime = nextTime;
            }

            this.onkeypress = function (e) {
                if (e.which == 13) {
                    webSocket.send(code); // 发送请求
                    console.log(code);
                    code = "";
                }
            }


        }
    </script>
    <style>
        #overflowTest {
            /* background: #4CAF50;*/
            /* color: white;*/
            padding: 15px;
            height: 300px;
            overflow: scroll;
            overflow-x: hidden
            /*  border: 1px solid #ccc;*/
        }

        #overflowTestNg {
            /* background: #4CAF50;*/
            /* color: white;*/
            padding: 15px;
            height: 300px;
            overflow: scroll;
            overflow-x: hidden
            /*  border: 1px solid #ccc;*/
        }

        .jz {
            text-align: center;
        }

        .ngClass {
            margin-top: 300px;
        }
    </style>

</head>
<body ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false"
      onselectstart="event.returnValue=false">
<!--按纽作为addon-->
<div>
    <input type="hidden" name="msg" id="msg" class="form-control" placeholder="请输入条形码信息">
</div>
<div style="text-align: center;padding-top: 20px;">
    <h2>分拣系统</h2>
</div>
<div class="body-section" style="margin-top: 40px">
    <section class="row">
        <div class="col-md-1" style="margin-left: 40px">
        </div>
        <div class="col-md-10">
            <!--<div id="overflowTest">-->
            <table class="table text-center table-hover data" id="tableWarp">
                <tbody id="tbodys">
                </tbody>
                <tbody id="tbody">
                </tbody>
            </table>
            <!--</div>-->
            <table class="table text-center table-hover data ngClass" id="ngWarp">
                <tbody id="tbody_ng" class="jz">
                </tbody>
            </table>
        </div>
        <div class="col-md-1" style="margin-left: 1790px;margin-top: 100px;">
            <form action="" id="formButton">
                <input type="radio" name="sex" value="customer" checked>客户
                <input style="margin-left: 10px" type="radio" name="sex" value="barcode">订单
                <button style="margin-left: 10px" class="btn btn-primary" type="button" id="sendBut">自动分配</button>
            </form>
            <h5 style="margin-top: 15rem;color:blue;margin-left: 2rem;position: fixed">Ver1.0.0</h5>
        </div>
    </section>
</div>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
    //document.write(returnCitySN["cip"]+','+returnCitySN["cname"])
</script>
</body>
</html>