<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comm.dao.allocation.AllocationMapper">
    <update id="updateAllocationByState">
        update allocation set a_state=#{a_state} where a_id=1
    </update>

    <select id="getAllocation" resultType="com.example.comm.pojo.allocation.Allocation">
        select * from allocation
    </select>
</mapper>
