<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comm.dao.sorting.SortingMapper">
    <insert id="addSorting">
        INSERT INTO sorting(s_orderid,s_category,s_Specifications,s_Item_info,s_count,s_weight,s_barcode,customer_name,s_number,order_time)
         VALUES (#{s_orderid},#{s_category},#{s_Specifications},#{s_Item_info},#{s_count},#{s_weight},#{s_barcode},#{customer_name},#{s_number},#{order_time})
    </insert>

    <update id="updateSorting" parameterType="com.example.comm.pojo.sorting.Sorting">
        UPDATE sorting SET
        <if test="s_weight!=null and s_weight!=''">
            s_weight=#{s_weight},
        </if>
        s_number=#{s_number},order_time=#{order_time}
        WHERE s_orderid=#{s_orderid} AND
        s_barcode=#{s_barcode}
    </update>

    <select id="getSortingByOidByBarcode" resultType="com.example.comm.pojo.sorting.Sorting">
        SELECT * FROM sorting WHERE s_orderid=#{s_orderid} AND s_barcode=#{s_barcode}
    </select>
    <select id="getSortingByDate" resultType="com.example.comm.pojo.sorting.Sorting">
        SELECT * FROM sorting WHERE s_barcode=#{s_barcode} ORDER BY order_time DESC LIMIT 1
    </select>
</mapper>
